* {
  margin: 0;
  padding: 0;
}

.map {
  height: 100vh;
}

.messageCard {
  position: fixed;
  top: 4%;
  right: 2%;
  width: 26rem;
  z-index: 10000;
}

.card-title {
  margin-bottom: 0;
}

.card-inner {
  padding: 0rem;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
    repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin-bottom: 0.4rem;
}

.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png")
    repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

#titleInput {
  width: auto;
  margin-left: 0.4rem;
  display: inline-block;
}
